altair
numpy
opencv-python
pandas
Pillow
plyer
plotly
pygame
pyrebase4
pyaudio
pyttsx3
python-dotenv
pytz
qrcode
reportlab
requests
scikit-learn
SpeechRecognition
streamlit
streamlit-extras
streamlit-js-eval
streamlit-option-menu
